.IconsFooter{
    display: flex;
}
.FooterNavBar{
    background-color: #EDEAF2;
    justify-content: center;
}
.me-auto{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.FooterStyletxt{
    color: #D95843;
    font-size: 21px;
}
.logotype{
    width: 30px !important;
    height: 30px !important;
}

